<p id="notice"><%= notice %></p>

<h1>Domains</h1>


    <% @domains.each do |domain| %>
     <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="well well-lg">
                <div class="article-title">
                 <%= link_to domain.domain, domain_path(domain)%>
                </div>
                <div class="article-body">
                  <p><strong>Sender Policy Framework Record</strong></p>
                  <% if domain.spf.present? %>
                 <p style="background-color:rgb(0,255,0)"><%= domain.spf %></p>
                 <% else %>
                 <p style="color:#ff0000" >None</p>
                 <%end%>
                 </div>
                 <div class="article-body">
                  <p><strong>DMARC Record</strong></p>
                     <% if domain.dmarc.present? %>
                     <p style="background-color:rgb(0,255,0)"><%= domain.dmarc %></p>
                     <% else %>
                     <p style="color:#ff0000">None</p>
                     <%end%>
                 </div>
                 <div class="article-body">
                  <p><strong>Sip Record</strong></p>
                      <% if domain.sip.present? %>
                      <p style="background-color:rgb(0,255,0)"><%= domain.sip %></p>
                      <% else %>
                     <p style="color:#ff0000">None</p>
                     <%end%>
                 </div>
                
                <div class="article_actions">
                    <%= link_to "Edit this Record", edit_domain_path(domain), class: "btn btn-xs btn-primary" %>
                    <%= link_to "Delete Record", domain_path(domain), method: :delete, data: {confirm: "Are You Sure" }, class: "btn btn-xs btn-danger" %>
                </div>
            </div>
        </div> 
    </div>
    <% end %>
        

<br>

<%= link_to 'New Domain', new_domain_path %>
<%= link_to 'Run Scan', domains_scans_path %>
